<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>public/game_leave.png</key>
			<dict>
				<key>frame</key>
				<string>{{517,561},{54,36}}</string>
				<key>offset</key>
				<string>{0,-1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{76,37}</string>
			</dict>
			<key>public/game_pokers.png</key>
			<dict>
				<key>frame</key>
				<string>{{957,213},{65,94}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{65,94}</string>
			</dict>
			<key>public/gold.png</key>
			<dict>
				<key>frame</key>
				<string>{{957,743},{60,54}}</string>
				<key>offset</key>
				<string>{0,-5}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{64,64}</string>
			</dict>
			<key>public/public_button_037.png</key>
			<dict>
				<key>frame</key>
				<string>{{443,604},{110,40}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{110,40}</string>
			</dict>
			<key>public/start.png</key>
			<dict>
				<key>frame</key>
				<string>{{443,451},{153,74}}</string>
				<key>offset</key>
				<string>{-1,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{154,74}</string>
			</dict>
			<key>public/public_slat_070.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,698},{583,62}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{583,62}</string>
			</dict>
			<key>public/public_button_002.png</key>
			<dict>
				<key>frame</key>
				<string>{{470,197},{34,35}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{34,35}</string>
			</dict>
			<key>public/public_button_038.png</key>
			<dict>
				<key>frame</key>
				<string>{{517,451},{110,40}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{110,40}</string>
			</dict>
			<key>public/bt_close.png</key>
			<dict>
				<key>frame</key>
				<string>{{676,391},{59,59}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{59,59}</string>
			</dict>
			<key>public/bt_close_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{996,625},{28,27}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{28,27}</string>
			</dict>
			<key>public/common_coin.png</key>
			<dict>
				<key>frame</key>
				<string>{{957,0},{213,48}}</string>
				<key>offset</key>
				<string>{4,-1}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{221,50}</string>
			</dict>
			<key>public/game_type_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{311,760},{154,39}}</string>
				<key>offset</key>
				<string>{1,-1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{195,42}</string>
			</dict>
			<key>public/game_type_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{156,760},{155,39}}</string>
				<key>offset</key>
				<string>{0,-1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{195,42}</string>
			</dict>
			<key>public/game_type_102.png</key>
			<dict>
				<key>frame</key>
				<string>{{957,307},{143,41}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{195,42}</string>
			</dict>
			<key>public/game_type_19.png</key>
			<dict>
				<key>frame</key>
				<string>{{558,649},{127,35}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{127,35}</string>
			</dict>
			<key>public/game_type_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{443,649},{115,39}}</string>
				<key>offset</key>
				<string>{1,-1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{195,42}</string>
			</dict>
			<key>public/game_type_36.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,760},{156,39}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{156,39}</string>
			</dict>
			<key>public/game_type_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{957,625},{118,39}}</string>
				<key>offset</key>
				<string>{3,-1}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{195,42}</string>
			</dict>
			<key>public/icon_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{208,233},{203,235}}</string>
				<key>offset</key>
				<string>{-15,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{251,235}</string>
			</dict>
			<key>public/icon_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{231,233}}</string>
				<key>offset</key>
				<string>{-1,1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{251,235}</string>
			</dict>
			<key>public/icon_102.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,468},{211,230}}</string>
				<key>offset</key>
				<string>{-9,1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{251,235}</string>
			</dict>
			<key>public/icon_19.png</key>
			<dict>
				<key>frame</key>
				<string>{{211,468},{202,232}}</string>
				<key>offset</key>
				<string>{-14,1}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{251,235}</string>
			</dict>
			<key>public/icon_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,233},{208,235}}</string>
				<key>offset</key>
				<string>{-14,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{251,235}</string>
			</dict>
			<key>public/icon_36.png</key>
			<dict>
				<key>frame</key>
				<string>{{411,233},{218,203}}</string>
				<key>offset</key>
				<string>{-7,-14}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{251,235}</string>
			</dict>
			<key>public/icon_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{231,0},{203,233}}</string>
				<key>offset</key>
				<string>{-15,1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{251,235}</string>
			</dict>
			<key>public/set_btn.png</key>
			<dict>
				<key>frame</key>
				<string>{{728,0},{80,89}}</string>
				<key>offset</key>
				<string>{1,-2}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{94,94}</string>
			</dict>
			<key>public/100.png</key>
			<dict>
				<key>frame</key>
				<string>{{676,684},{70,70}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{70,70}</string>
			</dict>
			<key>public/1000.png</key>
			<dict>
				<key>frame</key>
				<string>{{808,0},{70,70}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{70,70}</string>
			</dict>
			<key>public/200.png</key>
			<dict>
				<key>frame</key>
				<string>{{711,291},{70,70}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{70,70}</string>
			</dict>
			<key>public/500.png</key>
			<dict>
				<key>frame</key>
				<string>{{735,361},{70,70}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{70,70}</string>
			</dict>
			<key>public/ico_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{434,100},{97,97}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{97,97}</string>
			</dict>
			<key>public/ico_10.png</key>
			<dict>
				<key>frame</key>
				<string>{{531,100},{97,97}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{97,97}</string>
			</dict>
			<key>public/ico_11.png</key>
			<dict>
				<key>frame</key>
				<string>{{534,0},{97,97}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{97,97}</string>
			</dict>
			<key>public/ico_12.png</key>
			<dict>
				<key>frame</key>
				<string>{{614,197},{97,97}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{97,97}</string>
			</dict>
			<key>public/ico_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{628,97},{97,97}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{97,97}</string>
			</dict>
			<key>public/ico_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{631,0},{97,97}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{97,97}</string>
			</dict>
			<key>public/ico_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{614,294},{97,97}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{97,97}</string>
			</dict>
			<key>public/ico_5.png</key>
			<dict>
				<key>frame</key>
				<string>{{654,450},{97,97}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{97,97}</string>
			</dict>
			<key>public/ico_6.png</key>
			<dict>
				<key>frame</key>
				<string>{{654,547},{97,97}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{97,97}</string>
			</dict>
			<key>public/ico_7.png</key>
			<dict>
				<key>frame</key>
				<string>{{746,644},{97,97}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{97,97}</string>
			</dict>
			<key>public/ico_8.png</key>
			<dict>
				<key>frame</key>
				<string>{{711,194},{97,97}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{97,97}</string>
			</dict>
			<key>public/ico_9.png</key>
			<dict>
				<key>frame</key>
				<string>{{725,97},{97,97}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{97,97}</string>
			</dict>
			<key>public/infoframe.png</key>
			<dict>
				<key>frame</key>
				<string>{{618,757},{109,35}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{109,35}</string>
			</dict>
			<key>public/game_xian.png</key>
			<dict>
				<key>frame</key>
				<string>{{957,538},{87,65}}</string>
				<key>offset</key>
				<string>{-1,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{88,66}</string>
			</dict>
			<key>public/game_zhuang.png</key>
			<dict>
				<key>frame</key>
				<string>{{957,450},{88,65}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{88,66}</string>
			</dict>
			<key>public/public_04.png</key>
			<dict>
				<key>frame</key>
				<string>{{434,197},{36,36}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{36,36}</string>
			</dict>
			<key>public/public_slat_022.png</key>
			<dict>
				<key>frame</key>
				<string>{{727,754},{43,43}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{43,43}</string>
			</dict>
			<key>public/btn_game_title_question_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{770,741},{49,49}}</string>
				<key>offset</key>
				<string>{-2,2}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{62,62}</string>
			</dict>
			<key>public/btn_ty_dt_yellow(B).png</key>
			<dict>
				<key>frame</key>
				<string>{{583,451},{198,71}}</string>
				<key>offset</key>
				<string>{0,1}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{198,72}</string>
			</dict>
			<key>public/btn_game_setup_8_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{583,684},{73,93}}</string>
				<key>offset</key>
				<string>{-1,6}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{92,104}</string>
			</dict>
			<key>public/public_slat_25.png</key>
			<dict>
				<key>frame</key>
				<string>{{434,0},{100,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>
			<key>public/public_image_025.png</key>
			<dict>
				<key>frame</key>
				<string>{{465,797},{492,3}}</string>
				<key>offset</key>
				<string>{0,1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{504,6}</string>
			</dict>
			<key>public/game_type_5.png</key>
			<dict>
				<key>frame</key>
				<string>{{465,760},{153,37}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{200,39}</string>
			</dict>
			<key>public/empty.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,799},{1,1}}</string>
				<key>offset</key>
				<string>{4,-4}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{10,10}</string>
			</dict>
			<key>public/game_gold.png</key>
			<dict>
				<key>frame</key>
				<string>{{614,391},{62,59}}</string>
				<key>offset</key>
				<string>{1,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{63,60}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>public.png</string>
			<key>realTextureFileName</key>
			<string>public.png</string>
			<key>size</key>
			<string>{1024,800}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>1024</integer>
			<key>height</key>
			<integer>800</integer>
		</dict>
	</dict>
</plist>