<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>chinesechess/bche.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,254},{56,56}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{56,56}</string>
			</dict>
			<key>chinesechess/bjiang.png</key>
			<dict>
				<key>frame</key>
				<string>{{59,254},{56,56}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{56,56}</string>
			</dict>
			<key>chinesechess/bkg1.png</key>
			<dict>
				<key>frame</key>
				<string>{{59,486},{50,50}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{50,50}</string>
			</dict>
			<key>chinesechess/bkg2.png</key>
			<dict>
				<key>frame</key>
				<string>{{111,495},{50,50}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{50,50}</string>
			</dict>
			<key>chinesechess/bma.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,312},{56,56}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{56,56}</string>
			</dict>
			<key>chinesechess/bpao.png</key>
			<dict>
				<key>frame</key>
				<string>{{59,312},{56,56}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{56,56}</string>
			</dict>
			<key>chinesechess/bshi.png</key>
			<dict>
				<key>frame</key>
				<string>{{117,321},{56,56}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{56,56}</string>
			</dict>
			<key>chinesechess/bxiang.png</key>
			<dict>
				<key>frame</key>
				<string>{{175,321},{56,56}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{56,56}</string>
			</dict>
			<key>chinesechess/bzu.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,370},{56,56}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{56,56}</string>
			</dict>
			<key>chinesechess/icon.png</key>
			<dict>
				<key>frame</key>
				<string>{{148,127},{57,57}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{57,57}</string>
			</dict>
			<key>chinesechess/rbing.png</key>
			<dict>
				<key>frame</key>
				<string>{{59,370},{56,56}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{56,56}</string>
			</dict>
			<key>chinesechess/rche.png</key>
			<dict>
				<key>frame</key>
				<string>{{117,379},{56,56}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{56,56}</string>
			</dict>
			<key>chinesechess/rma.png</key>
			<dict>
				<key>frame</key>
				<string>{{175,379},{56,56}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{56,56}</string>
			</dict>
			<key>chinesechess/rpao.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,428},{56,56}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{56,56}</string>
			</dict>
			<key>chinesechess/rshi.png</key>
			<dict>
				<key>frame</key>
				<string>{{59,428},{56,56}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{56,56}</string>
			</dict>
			<key>chinesechess/rshuai.png</key>
			<dict>
				<key>frame</key>
				<string>{{117,437},{56,56}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{56,56}</string>
			</dict>
			<key>chinesechess/rxiang.png</key>
			<dict>
				<key>frame</key>
				<string>{{175,437},{56,56}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{56,56}</string>
			</dict>
			<key>chinesechess/selected.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,486},{56,56}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{56,56}</string>
			</dict>
			<key>chinesechess/pic_zhengwu_bai.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,133},{136,119}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{136,119}</string>
			</dict>
			<key>chinesechess/pic_zhengwu_li.png</key>
			<dict>
				<key>frame</key>
				<string>{{148,1},{103,124}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{103,124}</string>
			</dict>
			<key>chinesechess/pic_zhengwu_sheng.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1},{145,130}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{145,130}</string>
			</dict>
			<key>chinesechess/pic_zhengwu_shi.png</key>
			<dict>
				<key>frame</key>
				<string>{{139,186},{113,133}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{113,133}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>chinesechess.png</string>
			<key>realTextureFileName</key>
			<string>chinesechess.png</string>
			<key>size</key>
			<string>{253,546}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>253</integer>
			<key>height</key>
			<integer>546</integer>
		</dict>
	</dict>
</plist>