<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>Baccarat/clearing_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{564,0},{114,67}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{114,67}</string>
			</dict>
			<key>Baccarat/clearing_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{114,75},{107,67}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{107,67}</string>
			</dict>
			<key>Baccarat/clearing_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{678,0},{114,67}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{114,67}</string>
			</dict>
			<key>Baccarat/clearing_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{792,0},{114,67}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{114,67}</string>
			</dict>
			<key>Baccarat/clearing_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{449,0},{115,67}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{115,67}</string>
			</dict>
			<key>Baccarat/clearing_5.png</key>
			<dict>
				<key>frame</key>
				<string>{{906,0},{114,67}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{114,67}</string>
			</dict>
			<key>Baccarat/clearing_6.png</key>
			<dict>
				<key>frame</key>
				<string>{{449,67},{114,67}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{114,67}</string>
			</dict>
			<key>Baccarat/clearing_7.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,75},{114,67}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{114,67}</string>
			</dict>
			<key>Baccarat/clearing_8.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{225,75}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{225,75}</string>
			</dict>
			<key>Baccarat/clearing_9.png</key>
			<dict>
				<key>frame</key>
				<string>{{225,0},{224,75}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{224,75}</string>
			</dict>
			<key>Baccarat/game_ping.png</key>
			<dict>
				<key>frame</key>
				<string>{{221,75},{88,66}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{88,66}</string>
			</dict>
			<key>Baccarat/game_xian_win.png</key>
			<dict>
				<key>frame</key>
				<string>{{309,75},{88,66}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{88,66}</string>
			</dict>
			<key>Baccarat/game_zhuang_win.png</key>
			<dict>
				<key>frame</key>
				<string>{{563,67},{88,66}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{88,66}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>clearing.png</string>
			<key>realTextureFileName</key>
			<string>clearing.png</string>
			<key>size</key>
			<string>{1020,142}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>1020</integer>
			<key>height</key>
			<integer>142</integer>
		</dict>
	</dict>
</plist>